.block-article {
  transition: transform 300ms;
  &:hover {
    transform: scale(1.01);
  }
}

.cart-animation:hover {
  animation: shake 0.82s cubic-bezier(0.65, 0.23, 0.41, 0.79);
  transform: translate(0, 0);
}
@keyframes shake {
  0% {
    transform: translate(-1px, 0);
  }
  20%,
  80% {
    transform: translate(1px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate(-1.5px, 0);
  }
  40%,
  60% {
    transform: translate(1.5px, 0);
  }
}

.logo-100px {
  transition: transform 300ms, opacity 300ms;
  &:hover {
    transform: scale(1.02);
    opacity: 0.8;
  }
}
