html,
body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.block-article {
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  .block-article__img {
    padding: 5px;
    margin-top: 13px;
  }
  .block-article__img--content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}

@media all and (min-width: 768px) {
  .block-article {
    flex-direction: row;
  }
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

ul {
  padding: 0;
  margin: 15px;
  list-style-type: none;
  line-height: 1.5;
}

h3 {
  margin: 10px;
}

.block-article--content {
  flex-direction: column;
}

.img-container {
  width: 100%;
}

a {
  text-decoration: none;
}

.block-article img {
  width: 160px;
  height: 97px;
}

#list-cart span {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 30px;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding: 30px;

  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 25px;
    color: $color-secondary;
  }
}

#total {
  display: flex;
  justify-content: center;
  span {
    font-size: 20px;
    color: $color-primary-dark;
    display: flex;
    justify-content: center;
    font-family: "IBM Plex Sans", sans-serif;
    padding: 20px;
    margin: 30px;
    border: 5px solid $color-primary;
    width: max-content;
  }
}

form input {
  width: 100%;
}

#confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  margin: 5%;
  padding: 20px;
  text-align: center;
  span {
    font-size: 1.5em;
  }
}

form p {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  input {
    margin-left: 5%;
    margin-right: 5%;
    height: 25px;
  }
}

.help {
  font-size: 15px;
  width: 100%;
  color: red;
}
